include includes/mixins

doctype
html

    - var user = { name: name, isLoggedIn: isLogged }

    head
        block pageTitle
            title Site-Task
        block cssLinks
            link(rel="stylesheet" href="/css/all.min.css")
            link(rel="stylesheet" href="/css/main.css")
            link(rel="stylesheet", href="/css/buttons.css")
            link(rel="stylesheet" href="/css/nav.css")
    body
        block pageContent
            +navBar(user.name, user.isLoggedIn)

        script(src="/js/script.js")